
<div class="container-fluid">
    <h3>Special</h3>
    <form class="make-form" action="">
      <div class="col mb-3">
        <input
          type="text"
          class="change-pass-field form-control"
          placeholder="Tttle"
          aria-label="text"
        />
      </div>
      <div class="form-floating">
        <textarea
          class="change-pass-field form-control"
          placeholder="Description"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Description</label>
      </div>
      <button type="submit " class="mt-3 btn btn-primary">Save</button>
    </form>
  
    <div class="special">
      <img class="dollar-sign" src="/images/dollar-sign.png" alt="" srcset="" />
      <h3>Special Tittle</h3>
      <button class="btn-special-delete btn btn-danger">Delete</button>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut ratione,
        exercitationem velit nemo aliquam eum quos perspiciatis accusantium
        doloremque neque maxime iste vel dolor rem ut libero voluptatibus aperiam
        possimus.
      </p>
    </div>
  </div>
  
  