
      <div class="container-fluid">
        <h3>Change Password</h3>
        <form class="add-vehicle-form" action="">
  
          <div class="row">
              <div class=" col mb-3">
                <input type="password" class=" change-pass-field  form-control" placeholder=" Password" aria-label="Password">
              </div>
            </div>
          
            <div class="row">
              <div class="col mb-3">
                <input type="password" class=" change-pass-field  form-control" placeholder="Password" aria-label="Password">
              </div>
            </div>
            <button type="submit "class="btn btn-primary">Save</button>
        </form>
      </div>
  


