
      <div class="container-fluid">
        <h3>Add Vehicle</h3>
        <form class="add-vehicle-form" action="">
  
          <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Make" aria-label="model">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Model" aria-label="Make">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Type" aria-label="Type">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Body Style" aria-label="Body Style">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Year" aria-label="Year">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Transmission" aria-label="Transimission">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="color" aria-label="Color">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="interior" aria-label="Interior">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Milage" aria-label="milage">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Vin" aria-label="vin">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="MSRP" aria-label="MSRP">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Sale Price" aria-label="Sale Price">
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Picture</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
      </div>

