<h2>Purchase Vehicle</h2>
<div class="search-result">
  <h3>2016 Make Model</h3>
  <img src="/images/caricon.png" alt="" class="car-search-img" srcset="" />
  <table class="table table-borderless">
    <tr class="car-result-features">
      <td>Body Style:</td>
      <td>Interior:</td>
      <td>Sales Price:</td>
    </tr>
    <tr>
      <td>Trans:</td>
      <td>Milage:</td>
      <td>MSRP:</td>
    </tr>
    <tr>
      <td>color:</td>
      <td>vin:</td>
    </tr>
    <div>
      <table class="table table-boderles">
        <tr>
          <td>
            Description:Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </td>
        </tr>
      </table>
    </div>
  </table>
</div>

<!-- salse information -->
<div>
  <h3>Sales Information</h3>

  <form class="contact-us-form" action="">
    <div class="">
      <div class="row">
        <div class="col mb-4">
          <input
            type="text"
            class="form-control sales-infor-input"
            placeholder="Name"
            aria-label="Name"
          />
        </div>
        <div class="col mb-4">
          <input
            type="number"
            class="form-control sales-infor-input"
            placeholder="Phone"
            aria-label="Phone"
          />
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <input
        type="email"
        class="form-control sales-infor-input-email"
        placeholder="Email"
        aria-label="email"
      />
    </div>

    <div class="row">
      <div class="col mb-4">
        <input
          type="text"
          class="form-control sales-infor-input"
          placeholder="Street 1"
          aria-label="Street 1 "
        />
      </div>
      <div class="col mb-4">
        <input
          type="text"
          class="form-control sales-infor-input"
          placeholder="Streea 2"
          aria-label="street 2"
        />
      </div>
    </div>
    <div class="col mb-4">
      <input
        type="text"
        class="form-control sales-infor-input-city"
        placeholder="City"
        aria-label="City"
      />
    </div>

    <div class="row">
      <div class="col mb-4">
        <input
          type="text"
          class="form-control sales-infor-input"
          placeholder="Zip code"
          aria-label="Zip Code"
        />
      </div>
      <div class="col mb-4">
        <input
          type="text"
          class="form-control sales-infor-input"
          placeholder="State"
          aria-label="State"
        />
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col mb-4">
        <input
          type="text"
          class="form-control sales-infor-input"
          placeholder="Purchase Price"
          aria-label="Purchase price"
        />
      </div>
      <div class="col mb-4">
        <input
          type="text"
          class="form-control sales-infor-input"
          placeholder="Purchase Type"
          aria-label="Purchase Type"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
