
  
        <div class="vehicle">
            <h2>Sales</h2>
            <div class="new-vehicle">
              <form class="row gx-3 gy-2 align-items-center">
                <div class="col-sm-3">
                  <label class="" for="specificSizeInputName">Quick Search</label>
                  <input
                    type="text"
                    class="form-control"
                    id="specificSizeInputName"
                    placeholder="Enter Make,Model or Year"
                  />
                </div>
    
                <div class="d-flex">
                  <div class="box-size">
                    <label class="" for="specificSizeSelect">Price</label>
                    <select class="form-select-sm" id="specificSizeSelect">
                      <option selected>No min</option>
                      <option value="">No Max</option>
                    </select>
                  </div>
                  <div class="box-size">
                    <select class="form-select-sm" id="specificSizeSelect">
                      <option selected>No min</option>
                      <option value="">No Max</option>
                    </select>
                  </div>
    
                  <div class="box-size">
                    <label class="" for="specificSizeSelect">Year</label>
                    <select class="form-select-sm" id="specificSizeSelect">
                      <option selected>No min</option>
                      <option value="">No Max</option>
                    </select>
                  </div>
                  <div class="box-size">
                    <select class="form-select-sm" id="specificSizeSelect">
                      <option selected>No min</option>
                      <option value="">No Max</option>
                    </select>
                  </div>
                </div>
    
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
    
            <h2>Search Result</h2>
            <div class="search-result d-flex">
              <h3>2016 Make Model</h3>
              <img
                src="/images/caricon.png"
                alt=""
                class="car-search-img"
                srcset=""
              />
              <table class="table table-borderless">
                <tr class="car-result-features">
                  <td>Body Style:</td>
                  <td>Interior:</td>
                  <td>Sales Price:</td>
                </tr>
                <tr>
                  <td>Trans:</td>
                  <td>Milage:</td>
                  <td>MSRP:</td>
                </tr>
                <tr>
                  <td>color:</td>
                  <td>vin:</td>
                  <td><button class="btn btn-primary btn-sm">Purchase</button></td>
                </tr>
              </table>
            </div>
          </div>
        
     