
  
      <form class="contact-us-form" action="">
        <h3>Contact Us</h3>
        <div class="form-floating mt-3 mb-3">
          <input
            type="text"
            class="form-control form-input"
            id="floatingInput"
            placeholder="Joam Akim"
          />
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control form-input"
            id="floatingInput"
            placeholder="Email"
          />
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control form-input"
            id="floatingInput"
            placeholder="Phone"
          />
          <label for="floatingInput">Phone</label>
        </div>
        <div class="form-floating mb-3">
          <textarea
            class="form-control form-input"
            placeholder="Leave a message here"
            id="floatingTextarea2"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Message</label>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div>
        <h3>API FOR GOOGLE</h3>
      </div>
  
 