
  
        <h2>Search Result</h2>
        <div class="search-result">
          <h3>2016 Make Model</h3>
          <img
            src="/images/caricon.png"
            alt=""
            class="car-search-img"
            srcset=""
          />
          <table class="table table-borderless">
            <tr class="car-result-features">
              <td>Body Style:</td>
              <td>Interior:</td>
              <td>Sales Price:</td>
            </tr>
            <tr>
              <td>Trans:</td>
              <td>Milage:</td>
              <td>MSRP:</td>
            </tr>
            <tr>
              <td>color:</td>
              <td>vin:</td>
            </tr>
            <div>
              <table class="table table-boderles">
                <tr>
                  <td>
                    Description:Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with
                    the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                  </td>
                </tr>
              </table>
              <div>
                <button class="btn btn-primary btn-sm">contact us</button>
              </div>
            </div>
          </table>
        </div>
    
    