
      <div class="container-fluid">
        <h3>Add User</h3>
        <form class="add-vehicle-form" action="">
  
          <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="First Name" aria-label="First Name">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="email" class="form-control" placeholder="Email" aria-label="email">
              </div>
              <div class="col mb-3">
                <select name="" class="form-select-sm"id="" >
                  <option selected="Role">Role</option>
                  <option value="">Admin</option>
                  <option value="">Sales</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password">
              </div>
              <div class="col mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-label="Password">
              </div>
            </div>
           
          
            <button class="btn btn-primary">Save</button>
        </form>
      </div>

