
<section>
    <main>
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a
            routerLink="/home/index"
            class="d-flex align-items-center text-dark text-decoration-none"
          >
          
            <span class="fs-4">Guildcars</span>
          </a>
        </header>
  
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <p class="col-md-8 fs-4">BIG HUGE SALE!!!.</p>
          </div>
        </div>
        <!-- return list of featured cars -->
        <h2>Featured Vehicles</h2>
  
        <div class="container featured-cars">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <img
                  class="card-img-top img-fluid"
                  src="assets/img/caricon.png"
                  alt="Card image cap"
                />
                <div class="card-block">
                  <p class="card-text">2017 Make Model $12000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <footer class="pt-3 mt-4 text-muted border-top">&copy; 2022</footer>
      </div>
    </main>
  </section>
  
 
  
  
  